.body-black {
    background-color: black;
}

.interface-title{
    text-align: center;
    width: 50%;
    margin: 5 auto;
}

.interface-table{
    margin: auto;
}

.table-mobile{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.mobile-images{
    width: 100%;
}

.fullscreen{
    height:100vh;
}

.interface-center {
    padding: 5% 0 5% 0;
    width: 100%;
}

input, select, textarea{
    padding: 5px 0 5px 0;
    color: #000000;
}

textarea:focus, input:focus {
    color: #000000;
}
